 body{
  background-color: rgb(199, 197, 197);

 }
  .post{
  
    background-color: white;
    width: 600px;
    margin: auto;
    
  }
  
  .post-header{
  
    display: flex;
    justify-content: space-between;
    
  
  }

  .post-header-left{

    display: flex;
    align-items: center;

  }

  .name{

    display: flex;
    justify-content: left;
    flex-direction: column;

  }

  .name p{

    margin: 0px;
    border: 1px solid white;
    padding: 3px;
  }

  .fa-html5{

    margin: 15px;
    font-size: 30px;
  }

  .fa-ellipsis-vertical{

    margin: 15px;
    font-size: 30px;

  }
  
  img{
  
    width: 100%;
  }
  
  .post-icons{

    display:flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    
   
  }
  
  .post-icons-left{

    justify-content: left;
  }

  .post-icons-right{

   
  }


  p{
  
    padding: 15px;
  }